@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {font-family: "Roboto", sans-serif;color: var(--text);transition: ease 100ms;}

html {
  --accent: black;
  --back: white;
  --text: black;
  height: 98%;
}

body {
  background: var(--back);
  height: 100%;
  font-size: 3vw;
}

.thumbnail {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.controls {
  border-radius: 100%;
  padding: 5px;
  font-size: 10vw;
  color: var(--accent);
  cursor: pointer;
}

.controls:hover {
  background: #e9e9ed;
}


input[type="range"]::-moz-range-track {
  background: var(--accent);
  height: 0.2rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--accent);
  height: 0.2rem;
}

input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   margin-top: -12px;
   background-color: var(--back);
   outline: 1px solid var(--accent);
   height: 1rem;
   width: 1rem;
   border-radius: 100%;
}

input[type="range"]::-moz-range-thumb {
    border: none;
    background-color: var(--back);
    outline: 1px solid var(--accent);
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
}

@media screen and (max-width: 660px) {
  #thumb {
    width: 80%;
  }

  #control {
    display: block;
  }
  #b {
    font-size: 15vw;
  }
}

@media screen and (max-height: 400px) {
  #thumb {
    position: absolute;
    width: 110% !important;
    left: -5%;
    top: -5%;
    z-index: -1;
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
  #prog {display:none}

  * {scrollbar-width: none}
}

@media screen and (min-width: 700px) {
  #thumb {
    height: 70%;
  }

  body {
    font-size: 2vw;
    display: flex;
    align-items: center;
    gap: 10%;
  }
  #b {
    font-size: 10vw
  }

  .controls {
    font-size: 7vw;
  }

  #ws {
    display:none;
  }
}

#frame {
  position: absolute;
  display: none;
}
