@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {font-family: "Roboto", sans-serif;color: var(--text);transition: ease 100ms;}

html {
  --accent: black;
  --back: white;
  --text: black;
  height: 98%;
}

body {
  background: var(--back);
  height: 100%;
  font-size: 3vw;
}

.thumbnail {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.controls {
  border-radius: 100%;
  padding: 5px;
  font-size: 10vw;
  color: var(--accent);
  cursor: pointer;
}

.controls:hover {
  background: #e9e9ed;
}

input[type="range"] {background:none}

input[type="range"]::-moz-range-track {
  background: var(--accent);
  height: 0.2rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--accent);
  height: 0.2rem;
}

input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
   appearance: none;
   margin-top: -12px;
   background-color: var(--back);
   outline: 1px solid var(--accent);
   height: 1rem;
   width: 1rem;
   border-radius: 100%;
}

input[type="range"]::-moz-range-thumb {
    border: none;
    background-color: var(--back);
    outline: 1px solid var(--accent);
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
}

@media screen and (max-width: 730px) {
  #thumb {
    width: 80%;
  }

  #control {
    display: block;
  }
  #b {
    font-size: 15vw;
  }

  .minimized {
    height: 40px !important;
    width: 100% !important;
  }

  .ct {
    font-size: 10vw !important;
  }
}

@media screen and (max-height: 400px) {
  #thumb {
    position: absolute;
    width: 110% !important;
    left: -5%;
    top: -5%;
    z-index: -1;
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }
  #prog {display:none}

  * {scrollbar-width: none}
}

@media screen and (min-width: 730px) {
  .ct {
    font-size: 70px !important;
  }
  
  #thumb {
    width: 47%;
    max-width: 600px;
    max-height: 600px;
  }

  .body {
    font-size: 2vw;
    display: flex;
    align-items: center;
    gap: 10%;
  }
  #b {
    font-size: 10vw
  }

  .controls {
    font-size: 7vw;
  }

  #ws {
    display:none;
  }
}

#frame {
  position: fixed;
  display: none;
  transition: ease 500ms;
  aspect-ratio: 4 / 3;
  z-index: 1;
}

#toggle {
  position: absolute;
  left: 0;
  color: var(--back);
  top: 0;
  cursor: pointer;
  background: rgba(0,0,0,0.7);
  padding: 10px;
}

@media screen and (max-height: 40px) {
  #toggle {
    width:101%;
    text-align:center;
  }

  #controls {
    position: absolute;
    top: 0;
    z-index: 0;
  }
}

.song {
  display:flex;
  align-items:center;
  font-size:20px;
  gap: 10px;
  cursor: pointer;
}

.song:hover {
  opacity: 0.7;
}

nav {
  display: inline-grid;
  align-items: center;
  width: 5%;
  position: fixed;
  height: 100%;
}

.ct {
  opacity: 0.6;
  cursor: pointer;
  color: var(--accent)
}

.ct.material-symbols-outlined {
  display: block;
}

.ct:hover {
  opacity: 1;
}

.ct.active {
  opacity: 1;
}

.container {
  display:none
}

input[type="color"] {
  background: none;
  border: none;
  border-radius: 5px;
  outline: 1px solid;
  cursor: pointer;
}

input[type="color"]:hover {
  border-radius: 3px;
}

button {
  background: none;
  border: none;
  border-radius: 5px;
  outline: 1px solid;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  border-radius: 3px;
}

.material-symbols-outlined[type="submit"] {
  border:none;
  background:none;
}
